@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
i {
    color: black;
}

/* This section styles the navigation bar */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 20px;
    height: 60px;
    border-bottom: 1px solid rgb(209, 209, 209);
}
.logo-section {
    display: flex;
    align-items: center;
}
.bar-nav {
    transition: all 0.3s ease-in-out;
}
.navigation-bar .logo img {
    height: 45px;
    width: 120px;
}
.search-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-section #input-nav {
    width: 400px;
    padding: 8px 15px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 15px 0 0 15px;
    font-size: 1rem;
    font-weight: 300;
    margin-right: 0;
}
.search-section button {
    margin-left: -10px;
    width: 50px;
    padding: 9px 15px;
    font-size: 1rem;
    background: rgb(209, 209, 209);
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}
.search-section .voice-search {
    background: rgb(240, 240, 240);
    padding: 10px 12px;
    border-radius: 100%;
}
.profile-section {
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile-section .profile-child {
    font-size: 1.2rem;
    color: black;
    transition: all 0.3s ease-in-out;
}
.bar-nav:hover,
.profile-section .profile-child:hover {
    background: rgb(240, 240, 240);
    padding: 8px 10px;
    border-radius: 100%;
}

.profile-img #profile-img {
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

/* This Section styles the main body
main video and the side bar */

.main-container {
    display: grid;
    grid-template-areas: "main-video side-video";
    height: 100vh;
    /* width: 100%;  */
    grid-template-columns: auto 30%;
    grid-template-rows: 1fr;
    margin: 10px 50px;
}
.main-video {
    grid-area: main-video;
    display: grid;
    grid-template-areas: 
    "video-playing"
    "video-info";
    grid-template-columns: 1fr;
    grid-template-rows: auto 30%;
    padding: 20px;
}
.main-video .video-playing {
    grid-area: video-playing;
}
.video-playing iframe {
    width: 100%;
    height: 100%;
}
.main-video .video-info {
    grid-area: video-info;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.video-info .more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
.video-info .video-title h1 {
    font-size: 1.6rem;
}
.video-info .more-info .artiste {
    display: flex;
    align-items: center;
    gap: 15px;
}
.video-info .more-info .artiste img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.video-info .more-info .art-name h2{
    font-size: 1rem;
}
.video-info .more-info .art-name p{
    font-size: 0.8rem;
}
.video-info .more-info .artiste button{
    width: 150px;
    height: 30px;
    border-radius: 18px;
    border: none;
    padding: 8px 13px;
    background: rgb(217, 217, 217);
    font-size: 0.8rem;
    color: black;
    cursor: pointer;
}
.more-info .share-links {
    display: flex;
    align-items: center;
    gap: 15px;
}
.more-info .share-links .btn-likes button{
    padding: 8px 15px;
    background: rgb(217, 217, 217);
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}
.more-info .share-links .btn-likes #like{
    padding-left: 20px;
    margin-right: -10px;
    border-radius: 15px 0 0 15px;
}
.more-info .share-links .btn-likes #dislike{
    padding-left: 20px;
    border-radius: 0 15px 15px 0;
}
.more-info .share-links #share{
    padding: 8px 15px;
    background: rgb(217, 217, 217);
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 15px;
}
.more-info .share-links #more{
    padding: 8px 15px;
    background: rgb(217, 217, 217);
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 15px;
}
.video-description {
    background: rgb(238, 238, 238);
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.video-description:hover {
    background: rgb(217, 217, 217);
    cursor: pointer;
}
.video-description h3{
    font-size: 1rem;
    margin-bottom: 5px;
}
.video-description p{
    font-size: 0.9rem;
    font-weight: 300;
}
/* This styles the side bar playlist video */
.side-video {
    grid-area: side-video;
    display: grid;
    grid-template-areas: 
        "playlist-title"
        "playlist"
        "buttons-more";
    grid-template-columns: auto;
    grid-template-rows: 12% 70% 10%;
    padding: 20px;
}
.side-video .playlist-title {
    background: rgb(238, 238, 238);
    grid-area: playlist-title;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 15px 15px 0 0;
}
.side-video .playlist-title .my-playlist h2{
    font-size: 1.2rem;
}
.side-video .playlist-title .my-playlist p{
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 8px;
}
.side-video .playlist-title button{
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}

.side-video .playlist {
    grid-area: playlist;
}
.side-video .playlist .music{
    display: grid;
    grid-template-areas: "video music-title";
    grid-template-columns: 35% auto;
    grid-template-rows: 60px;
    padding: 8px 20px;
    transition: all 0.3s ease-in-out;
}
.side-video .playlist .music:hover{
    background: rgb(238, 238, 238);
    cursor: pointer;
}
.side-video .playlist .music .video {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}
.side-video .playlist .music .video1 {
    background-image: url(img/dadju.jpeg);
}
.side-video .playlist .music .video2 {
    background-image: url(img/fally.jpeg);
}
.side-video .playlist .music .video3 {
    background-image: url(img/diamond.jpeg);
}
.side-video .playlist .music .video4 {
    background-image: url(img/gims.jpeg);
}
.side-video .playlist .music .video5 {
    background-image: url(img/sheebah.jpeg);
}
.side-video .playlist .music .video6 {
    background-image: url(img/Wizkid.jpeg);
}
.side-video .playlist .music .music-title {
    font-size: 0.8rem;
    padding: 8px 10px;
}
.side-video .playlist .music .music-title h2 {
    font-size: 0.8rem;
}
.side-video .playlist .music .music-title p {
    font-size: 0.8rem;
    font-weight: 300;
}
.side-video .buttons-more {
    grid-area: buttons-more;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.side-video .buttons-more button{
    border-radius: 18px;
    border: none;
    padding: 8px 13px;
    background: rgb(217, 217, 217);
    font-size: 0.8rem;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 820px){
    .navigation-bar {
        justify-content: space-between;
        gap: 10px;
        height: 80px;
    }
    .search-section #input-nav {
        width: 300px;
        padding: 8px 12px;
    }
    .search-section .voice-search {
        display: none;
    }
    .main-container {
        display: grid;
        grid-template-areas: "main-video" "side-video";
        height: 100vh;
        /* width: 100%;  */
        grid-template-columns: auto;
        grid-template-rows: 60% 40%;
        margin: 20px;
    }
    .main-video {
        grid-area: main-video;
        display: grid;
        grid-template-areas: 
        "video-playing"
        "video-info";
        grid-template-columns: 1fr;
        grid-template-rows: auto 30%;
        padding: 0px;
    }
    .main-video .video-info {
        grid-area: video-info;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .video-info .more-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 120px;
    }
    .side-video {
        grid-area: side-video;
        display: grid;
        grid-template-areas: 
            "playlist-title"
            "playlist"
            "buttons-more";
        grid-template-columns: auto;
        grid-template-rows:15% auto 10%;
        padding: 10px;
    }
}